.content {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
    // flex-direction: row;
    // flex-wrap: wrap;
    // align-items: stretch;
    // align-content: center;
    &__unit {
        display: inline-block;
        height: 470px;
        width: 350px;
        margin: 10px 10px 100px 0;
        img {
            min-width: 100%;
            max-height: 100%;
            margin: 0;
            padding: 0;
        }
        h3 {
            margin: 0 0 0 0;
            font-weight: normal;
            font-size: 1.2rem;
        }
        p {
            margin: 0 0 1rem 0;
            font-weight: bold;
            font-size: 1rem;
        }
    }
}