@import './utilities/variables';

@import './block/header';
@import './block/content';
@import './block/newsletter';
@import './block/contact';

body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}