/*This size or smaller*/
header {
  background-color: #ffffff;
  position: relative;
  margin: 0;
  padding: 1rem 0;
  text-align: center;
}

header h1 {
  color: #202020;
  text-transform: uppercase;
  font-size: 2.2rem;
}

header nav {
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  top: 20px;
  left: 0px;
  padding: 0.5rem 1.2rem;
  width: 150px;
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-transform: capitalize;
  font-size: 1.3rem;
}

header nav a {
  text-decoration: none;
  color: #202020;
}

header nav a:hover {
  font-weight: bold;
}

header nav #promociones {
  color: #c95817;
  font-weight: bold;
}

.content {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}

.content__unit {
  display: inline-block;
  height: 470px;
  width: 350px;
  margin: 10px 10px 100px 0;
}

.content__unit img {
  min-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

.content__unit h3 {
  margin: 0 0 0 0;
  font-weight: normal;
  font-size: 1.2rem;
}

.content__unit p {
  margin: 0 0 1rem 0;
  font-weight: bold;
  font-size: 1rem;
}

.content__unit:hover {
  cursor: pointer;
}

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 5rem;
}

.newsletter h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  margin: 3rem 0 0 0;
}

@media screen and (max-width: 400px) {
  .newsletter h3 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .newsletter h3 {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 992px) {
  .newsletter h3 {
    font-size: 1.8rem;
  }
}

.newsletter h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
  margin: 0 0 1rem 0;
}

@media screen and (max-width: 400px) {
  .newsletter h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .newsletter h2 {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 992px) {
  .newsletter h2 {
    font-size: 1.8rem;
  }
}

.newsletter form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.newsletter form label {
  font-size: 1.1rem;
  margin: 0 0 0;
}

.newsletter form #suscription {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding: 0.5rem;
  font-size: 1rem;
  margin: 0 0 1rem 0;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 5rem;
  text-align: center;
}

.contact h5 {
  font-size: 1rem;
  margin: 0 0 0.7rem 0;
  font-weight: bold;
}

.contact p {
  margin: 0;
}

.contact__ways {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media screen and (max-width: 400px) {
  .contact__ways {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact__ways p {
  margin: 0 0.5rem;
  font-weight: normal;
}

.contact__ways #telephone {
  color: #37da80;
}

footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 3rem 1rem;
  font-size: 0.75rem;
}

@media screen and (max-width: 400px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 3rem 6rem;
  }
}

footer #footerBtn {
  position: absolute;
  right: 20px;
  top: 0;
}

footer .footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0.2rem;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  color: #202020;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body a {
  text-decoration: none;
  color: #202020;
}

body a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=styles.css.map */